<a href="https://colab.research.google.com/github/abasnezhad/Kaggle/blob/main/cleaning_data_(CarsForSale).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("cars_raw.csv")

In [3]:
df.sample(2)

,Year,Make,Model,Used/New,Price,ConsumerRating,ConsumerReviews,SellerType,SellerName,SellerRating,...,InteriorColor,Drivetrain,MinMPG,MaxMPG,FuelType,Transmission,Engine,VIN,Stock#,Mileage
790,2019,Audi,Q8 3.0T Premium,Used,"$64,297",4.8,27,Dealer,John Thornton Buick GMC,4.7,...,Black,All-wheel Drive,17,22,Gasoline,8-Speed Automatic,3.0L V6 24V GDI DOHC Turbo,WA1FVAF19KD040701,NG640A,36918
8169,2019,BMW,X5 xDrive40i,Used,"$54,988",4.7,55,Dealer,Audi Westwood,4.6,...,Amarone,All-wheel Drive,20,26,Gasoline,8-Speed Automatic,3.0L I6 24V GDI DOHC Turbo,5UXCR6C56KLL60791,KLL60791,20207

In [4]:
columns=list(df.columns)
columns

['Year',
 'Make',
 'Model',
 'Used/New',
 'Price',
 'ConsumerRating',
 'ConsumerReviews',
 'SellerType',
 'SellerName',
 'SellerRating',
 'SellerReviews',
 'StreetName',
 'State',
 'Zipcode',
 'DealType',
 'ComfortRating',
 'InteriorDesignRating',
 'PerformanceRating',
 'ValueForMoneyRating',
 'ExteriorStylingRating',
 'ReliabilityRating',
 'ExteriorColor',
 'InteriorColor',
 'Drivetrain',
 'MinMPG',
 'MaxMPG',
 'FuelType',
 'Transmission',
 'Engine',
 'VIN',
 'Stock#',
 'Mileage']

In [5]:
print("shape: ", df.shape)

shape:  (9379, 32)

In [6]:
df.isnull().sum()

Year                       0
Make                       0
Model                      0
Used/New                   0
Price                      0
ConsumerRating             0
ConsumerReviews            0
SellerType                 0
SellerName                 0
SellerRating               0
SellerReviews              0
StreetName                 0
State                      0
Zipcode                    0
DealType                 222
ComfortRating              0
InteriorDesignRating       0
PerformanceRating          0
ValueForMoneyRating        0
ExteriorStylingRating      0
ReliabilityRating          0
ExteriorColor              0
InteriorColor              0
Drivetrain                 0
MinMPG                     0
MaxMPG                     0
FuelType                   0
Transmission               0
Engine                     0
VIN                        0
Stock#                     0
Mileage                    0
dtype: int64

In [7]:
 df.dtypes

Year                       int64
Make                      object
Model                     object
Used/New                  object
Price                     object
ConsumerRating           float64
ConsumerReviews            int64
SellerType                object
SellerName                object
SellerRating             float64
SellerReviews              int64
StreetName                object
State                     object
Zipcode                   object
DealType                  object
ComfortRating            float64
InteriorDesignRating     float64
PerformanceRating        float64
ValueForMoneyRating      float64
ExteriorStylingRating    float64
ReliabilityRating        float64
ExteriorColor             object
InteriorColor             object
Drivetrain                object
MinMPG                     int64
MaxMPG                     int64
FuelType                  object
Transmission              object
Engine                    object
VIN                       object
Stock#                    object
Mileage                    int64
dtype: object

In [8]:
# revising the price 
df['Price'] = [price.replace('$','') for price in df['Price']]
df['Price'] = [price.replace(',','') for price in df['Price']]

In [9]:
df['Price'] = [int(price) for price in df['Price']]
#for i in range(len(df)):
 # df['Price'].iloc[i]=int(df['Price'].iloc[i])

ValueError: ignored

In [ ]:
df[df['Price']=='Not Priced'].index

In [10]:
df = df[df['Price'] != 'Not Priced']

In [11]:
df['Price'] = [int(price) for price in df['Price']]

In [12]:
df.dtypes

Year                       int64
Make                      object
Model                     object
Used/New                  object
Price                      int64
ConsumerRating           float64
ConsumerReviews            int64
SellerType                object
SellerName                object
SellerRating             float64
SellerReviews              int64
StreetName                object
State                     object
Zipcode                   object
DealType                  object
ComfortRating            float64
InteriorDesignRating     float64
PerformanceRating        float64
ValueForMoneyRating      float64
ExteriorStylingRating    float64
ReliabilityRating        float64
ExteriorColor             object
InteriorColor             object
Drivetrain                object
MinMPG                     int64
MaxMPG                     int64
FuelType                  object
Transmission              object
Engine                    object
VIN                       object
Stock#                    object
Mileage                    int64
dtype: object

In [13]:
df['Used/New'].unique()

array(['Used', 'Dodge Certified', 'Acura Certified', 'Honda Certified',
       'Mercedes-Benz Certified', 'Ford Certified', 'Toyota Certified',
       'BMW Certified', 'Porsche Certified', 'Cadillac Certified',
       'Volvo Certified', 'Nissan Certified', 'Subaru Certified',
       'Volkswagen Certified', 'INFINITI Certified',
       'Chevrolet Certified', 'Kia Certified', 'RAM Certified',
       'Jeep Certified', 'GMC Certified', 'Buick Certified',
       'Alfa Romeo Certified', 'Bentley Certified', 'MINI Certified',
       'Ferrari Certified', 'Maserati Certified'], dtype=object)

In [14]:
df['Used/New']=['Certified Pre-Owned' if 'certified' in item.casefold()
                  else 'Used' for item in df['Used/New']]

In [15]:
df.Drivetrain.unique()

array(['Front-wheel Drive', 'Four-wheel Drive', 'Rear-wheel Drive',
       'All-wheel Drive', '4WD', 'AWD', 'RWD', 'FWD', 'Front Wheel Drive',
       'â€“'], dtype=object)

In [16]:
df = df[df['Drivetrain'] != 'â€“']

In [17]:


df['Drivetrain'] = ['4WD' if 'four' in item.casefold()
                   else 'AWD' if 'all' in item.casefold()
                   else 'RWD' if 'rear' in item.casefold()
                   else 'FWD' for item in df['Drivetrain']]

In [18]:
df['FuelType'].unique()

array(['Gasoline', 'Gasoline Fuel', 'Electric Fuel System',
       'E85 Flex Fuel', 'Electric', 'Hybrid', 'Plug-In Electric/Gas', 'â€“',
       'Flex Fuel Capability', 'Diesel', 'Diesel Fuel',
       'Gasoline/Mild Electric Hybrid', 'Flexible Fuel'], dtype=object)

In [19]:
df = df[df['FuelType'] != 'â€“']

#Modify 'FuelType' column
df['FuelType'] = ['Hybrid' if 'hybrid' in item.casefold()
                 else 'Hybrid' if 'plug' in item.casefold()
                 else 'Flex' if 'flex' in item.casefold()
                 else 'Electric' if 'electric' in item.casefold()
                 else 'Diesel' if 'diesel' in item.casefold()
                 else 'Gas' for item in df['FuelType']]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [20]:

#One-hot encoding without pd.get_dummies
df['Used/New'] = [1 if item == 'Used' else 0 for item in df['Used/New']]
df['SellerType'] = [1 if item == 'Dealer' else 0 for item in df['SellerType']]

In [21]:
df['DealType'].unique()

array(['Great', 'Good', nan, 'Fair'], dtype=object)

In [22]:
#Modify 'DealType' column
df['DealType'].fillna('None', inplace=True)
df = df[df['DealType'] != 'None']

In [23]:
df['Transmission'].unique()

array(['8-Speed Automatic', '10-Speed Automatic', '5-Speed Automatic',
       'Automatic CVT', '7-Speed Automatic', '9-Speed Automatic',
       '6-Speed Automatic', 'Automatic', '6-Speed A/T',
       '7-Speed Automatic with Auto-Shift',
       'Transmission w/Dual Shift Mode', 'A/T', '8-SPEED A/T',
       '8-Speed Automatic with Auto-Shift', '8-Speed A/T', '9-SPEED A/T',
       '6-SPEED A/T', '5-SPEED M/T', '4-Speed Automatic',
       '1-Speed Automatic', 'Automatic with Overdrive', 'CVT 7-Speed',
       'Automatic 5-Speed', '9-Speed A/T', 'â€“', 'CVT', 'Variable',
       'sport automatic', 'Manual', '6-Speed Automatic with Auto-Shift',
       '6-Speed Manual', '5-SPEED A/T',
       '6-Speed Automatic with Overdrive', '7-SPEED A/T', '7-Speed A/T',
       '9g tronic automatic', '5-Speed Manual', 'Automatic 6-Speed',
       '1 speed automatic', '10-Speed A/T', 'CVT 6-Speed',
       'Automatic with Tiptronic', '6-Speed M/T',
       '8 speed automatic w/sportmatic', 'A', 'AUTOMATIC', '7-Speed',
       '9 speed automatic', 'automatic', '10-SPEED A/T',
       '8 speed automatic', 'Lineartronic CVT', '8-Speed Automatic Sport',
       'xtronic continuously variable (cvt)',
       '6-Speed Automatic with Shiftronic',
       '10-Speed Automatic with Overdrive',
       '6-Speed Automatic Electronic with Overdrive',
       '7-Speed Porsche Doppelkupplung (PDK)', 'CVT with Xtronic',
       '7-Speed Automatic S tronic', '4-SPEED A/T', '1-SPEED A/T',
       '6 speed manual', 'xtronic cvt (continuously variable)',
       'Auto, 7-Spd Rev Matching', '10 speed automatic w/selectshift',
       '8-Speed Automatic with Tiptronic',
       '6 speed automatic w/sportmatic',
       'continuously variable w/sport mode', 'xtronic cvt automatic',
       '7-Speed Double-clutch', '7-Speed Manual',
       'Auto, 7-Spd 7G-Tronic +', '2-Speed Automatic',
       '6-Speed Automatic with Tiptronic', '6-Speed Shiftable Automatic',
       'Allison 1000 6-Speed Automatic', 'Shiftable Automatic',
       '9-Speed Shiftable Automatic',
       '6-Speed Automatic with Sequential Shift ECT', 'Automatic 4-Speed',
       '6 speed selectshift automatic', 'xtronic cvt',
       '6-Speed Electronically Controlled Automatic with O',
       '8 Speed Paddle Shift with Automatic Modes',
       'Auto 8-Spd Spt Steptrnc'], dtype=object)

In [24]:
#New Columns
df['TransmissionType'] = ['Automatic' if 'auto' in item.casefold()
                         else 'Manual' if 'manual' in item.casefold()
                         else 'Other' for item in df['Transmission']]

In [25]:
df['Make'].unique()

array(['Toyota', 'Ford', 'RAM', 'Lexus', 'Honda', 'Mercedes-Benz',
       'Dodge', 'Subaru', 'BMW', 'Audi', 'Volvo', 'Lincoln', 'Land',
       'Acura', 'Chevrolet', 'Tesla', 'Jeep', 'Chrysler', 'Mazda', 'Kia',
       'Volkswagen', 'Porsche', 'Nissan', 'Hyundai', 'GMC', 'Buick',
       'Genesis', 'INFINITI', 'Cadillac', 'Alfa', 'FIAT', 'Jaguar',
       'MINI', 'Maserati', 'Mitsubishi', 'Bentley', 'Mercury',
       'Lamborghini', 'Scion', 'Saturn'], dtype=object)

In [29]:

make = pd.get_dummies(df['Make'])
drivetrain = pd.get_dummies(df['Drivetrain'])
transmission = pd.get_dummies(df['TransmissionType'],prefix='TM')
fueltype = pd.get_dummies(df['FuelType'],)

In [30]:
columns_to_drop = ['Make','Drivetrain','Transmission','TransmissionType','SellerName',
                  'StreetName','State','Zipcode','FuelType','ExteriorColor','InteriorColor',
                  'Engine','VIN','Stock#','Year','Model']
df.drop(columns_to_drop, axis=1, inplace=True)
df = pd.concat([df,make,drivetrain,transmission,fueltype],axis=1)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9116 entries, 0 to 9378
Data columns (total 69 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Used/New               9116 non-null   int64
 1   Price                  9116 non-null   int64
 2   ConsumerRating         9116 non-null   float64
 3   ConsumerReviews        9116 non-null   int64
 4   SellerType             9116 non-null   int64
 5   SellerRating           9116 non-null   float64
 6   SellerReviews          9116 non-null   int64
 7   DealType               9116 non-null   object
 8   ComfortRating          9116 non-null   float64
 9   InteriorDesignRating   9116 non-null   float64
 10  PerformanceRating      9116 non-null   float64
 11  ValueForMoneyRating    9116 non-null   float64
 12  ExteriorStylingRating  9116 non-null   float64
 13  ReliabilityRating      9116 non-null   float64
 14  MinMPG                 9116 non-null   int64
 15  MaxMPG                 9116 non-null   int64
 16  Mileage                9116 non-null   int64
 17  Acura                  9116 non-null   uint8
 18  Alfa                   9116 non-null   uint8
 19  Audi                   9116 non-null   uint8
 20  BMW                    9116 non-null   uint8
 21  Bentley                9116 non-null   uint8
 22  Buick                  9116 non-null   uint8
 23  Cadillac               9116 non-null   uint8
 24  Chevrolet              9116 non-null   uint8
 25  Chrysler               9116 non-null   uint8
 26  Dodge                  9116 non-null   uint8
 27  FIAT                   9116 non-null   uint8
 28  Ford                   9116 non-null   uint8
 29  GMC                    9116 non-null   uint8
 30  Genesis                9116 non-null   uint8
 31  Honda                  9116 non-null   uint8
 32  Hyundai                9116 non-null   uint8
 33  INFINITI               9116 non-null   uint8
 34  Jaguar                 9116 non-null   uint8
 35  Jeep                   9116 non-null   uint8
 36  Kia                    9116 non-null   uint8
 37  Lamborghini            9116 non-null   uint8
 38  Land                   9116 non-null   uint8
 39  Lexus                  9116 non-null   uint8
 40  Lincoln                9116 non-null   uint8
 41  MINI                   9116 non-null   uint8
 42  Maserati               9116 non-null   uint8
 43  Mazda                  9116 non-null   uint8
 44  Mercedes-Benz          9116 non-null   uint8
 45  Mercury                9116 non-null   uint8
 46  Mitsubishi             9116 non-null   uint8
 47  Nissan                 9116 non-null   uint8
 48  Porsche                9116 non-null   uint8
 49  RAM                    9116 non-null   uint8
 50  Saturn                 9116 non-null   uint8
 51  Scion                  9116 non-null   uint8
 52  Subaru                 9116 non-null   uint8
 53  Tesla                  9116 non-null   uint8
 54  Toyota                 9116 non-null   uint8
 55  Volkswagen             9116 non-null   uint8
 56  Volvo                  9116 non-null   uint8
 57  4WD                    9116 non-null   uint8
 58  AWD                    9116 non-null   uint8
 59  FWD                    9116 non-null   uint8
 60  RWD                    9116 non-null   uint8
 61  TM_Automatic           9116 non-null   uint8
 62  TM_Manual              9116 non-null   uint8
 63  TM_Other               9116 non-null   uint8
 64  Diesel                 9116 non-null   uint8
 65  Electric               9116 non-null   uint8
 66  Flex                   9116 non-null   uint8
 67  Gas                    9116 non-null   uint8
 68  Hybrid                 9116 non-null   uint8
dtypes: float64(8), int64(8), object(1), uint8(52)
memory usage: 1.7+ MB